In [16]:
##Import Librbabries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import plotly.express as px

In [9]:
df=pd.read_excel("financial_loan.xlsx")
df.head(5)

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835

In [22]:
#df.shape[0]
df.shape[1]

24

## Data Types

In [27]:
df.dtypes

id                                int64
address_state                    object
application_type                 object
emp_length                       object
emp_title                        object
grade                            object
home_ownership                   object
issue_date               datetime64[ns]
last_credit_pull_date    datetime64[ns]
last_payment_date        datetime64[ns]
loan_status                      object
next_payment_date        datetime64[ns]
member_id                         int64
purpose                          object
sub_grade                        object
term                             object
verification_status              object
annual_income                   float64
dti                             float64
installment                     float64
int_rate                        float64
loan_amount                       int64
total_acc                         int64
total_payment                     int64
dtype: object

In [29]:
df.describe()

,id,issue_date,last_credit_pull_date,last_payment_date,next_payment_date,member_id,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
count,3.857600e+04,38576,38576,38576,38576,3.857600e+04,3.857600e+04,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000
mean,6.810371e+05,2021-07-16 02:31:35.562007040,2021-06-08 13:36:34.193280512,2021-06-26 09:52:08.909166080,2021-07-26 20:42:20.605557760,8.476515e+05,6.964454e+04,0.133274,326.862965,0.120488,11296.066855,22.132544,12263.348533
min,5.473400e+04,2021-01-01 00:00:00,2021-01-08 00:00:00,2021-01-08 00:00:00,2021-02-08 00:00:00,7.069900e+04,4.000000e+03,0.000000,15.690000,0.054200,500.000000,2.000000,34.000000
25%,5.135170e+05,2021-04-11 00:00:00,2021-04-15 00:00:00,2021-03-16 00:00:00,2021-04-16 00:00:00,6.629788e+05,4.150000e+04,0.082100,168.450000,0.093200,5500.000000,14.000000,5633.000000
50%,6.627280e+05,2021-07-11 00:00:00,2021-05-16 00:00:00,2021-06-14 00:00:00,2021-07-14 00:00:00,8.473565e+05,6.000000e+04,0.134200,283.045000,0.118600,10000.000000,20.000000,10042.000000
75%,8.365060e+05,2021-10-11 00:00:00,2021-08-13 00:00:00,2021-09-15 00:00:00,2021-10-15 00:00:00,1.045652e+06,8.320050e+04,0.185900,434.442500,0.145900,15000.000000,29.000000,16658.000000
max,1.077501e+06,2021-12-12 00:00:00,2022-01-20 00:00:00,2021-12-15 00:00:00,2022-01-15 00:00:00,1.314167e+06,6.000000e+06,0.299900,1305.190000,0.245900,35000.000000,90.000000,58564.000000
std,2.113246e+05,NaN,NaN,NaN,NaN,2.668105e+05,6.429368e+04,0.066662,209.092000,0.037164,7460.746022,11.392282,9051.104777

## Total Loan Applications

In [36]:
Total_loan_Application= df['id'].count()
Total_loan_Application

38576

## MTD Total Loan Applications

In [56]:
Latest_issue_date=df['issue_date'].max()
Latest_year=Latest_issue_date.year
Latest_month=Latest_issue_date.month

mtd_data=df[(df['issue_date'].dt.year==Latest_year) & (df['issue_date'].dt.month==Latest_month)]
mtd_loan_application=mtd_data['id'].count()
print(f"mtd_loan_pplication(for {Latest_issue_date.strftime('%B %Y')}):{mtd_loan_application}")

mtd_loan_pplication(for December 2021):4314

## Total Funded Amount

In [84]:
Total_funded_amount=df['loan_amount'].sum()
Total_funded_amount_millions=Total_funded_amount/1000000
print("Total Funded Amount: ${:.2f}M" .format(Total_funded_amount_millions))

Total Funded Amount: $435.76M

## MTD Total Funded Amount

In [92]:
Latest_issue_date=df['issue_date'].max()
Latest_year=Latest_issue_date.year
Latest_month=Latest_issue_date.month

mtd_data=df[(df['issue_date'].dt.year==Latest_year) & (df['issue_date'].dt.month==Latest_month)]
MTD_Total_funded_amount=mtd_data['loan_amount'].sum()
MTD_Total_funded_amount_millions=MTD_Total_funded_amount/1000000
print("MTD_Total_funded_amount : ${:.2f}M" .format(MTD_Total_funded_amount_millions))

MTD_Total_funded_amount : $53.98M

## Total Amount Received

In [96]:
Total_amount_Received=df['total_payment'].sum()
Total_amount_Received_millions=Total_amount_Received/1000000
print("Total Funded Amount: ${:.2f}M" .format(Total_amount_Received_millions))

Total Funded Amount: $473.07M

## MTD_Total Amount Received

In [103]:
Latest_issue_date=df['issue_date'].max()
Latest_year=Latest_issue_date.year
Latest_month=Latest_issue_date.month

mtd_data=df[(df['issue_date'].dt.year==Latest_year) & (df['issue_date'].dt.month==Latest_month)]
MTD_Total_amount_Received=mtd_data['total_payment'].sum()
MTD_Total_amount_Received_millions=MTD_Total_amount_Received/1000000
print("MTD_Total_amount_Received : ${:.2f}M" .format(MTD_Total_amount_Received_millions))

MTD_Total_amount_Received : $58.07M

## Average Interest Rate

In [111]:
Average_interest_rate=df['int_rate'].mean()*100
print("Average interest Rate is: ${:.2f}% ".format(Average_interest_rate))

Average interest Rate is: $12.05%

## Average Debt-To-Income Ratio(DTI)

In [130]:
Average_DTI=df['dti'].mean()
print("Average DTI is: ${:.2f}% ".format(Average_DTI))

Average DTI is: $0.13%

## Good Loan Matrix

In [124]:
Good_loan=df[df['loan_status'].isin(['Fully Paid','Current'])]

Total_loan_Application= df['id'].count()

Good_loan_applications=Good_loan['id'].count()
Good_loan_funded_amount=Good_loan['loan_amount'].sum()
Good_loan_funded_amount_millions=Good_loan_funded_amount/1000000
Good_loan_received=Good_loan['total_payment'].sum()
Good_loan_received_millions=Good_loan_received/1000000
Good_loan_percentage=(Good_loan_applications/Total_loan_Application)*100

print("Good loan applications is " ,Good_loan_applications)
print("Good loan funded amount is (millions) ${:.2f}M ".format(Good_loan_funded_amount_millions))
print("Good loan received is (millions) ${:.2f}M ".format(Good_loan_received_millions))
print("Good loan percentage is {:.2f}% ".format(Good_loan_percentage))

Good loan applications is  33243
Good loan funded amount is (millions) $370.22M
Good loan received is (millions) $435.79M
Good loan percentage is 86.18%

## Bad Loan Matrix

In [128]:
Bad_loan=df[df['loan_status'].isin(['Charged Off'])]

Total_loan_Application= df['id'].count()

Bad_loan_applications=Bad_loan['id'].count()
Bad_loan_funded_amount=Bad_loan['loan_amount'].sum()
Bad_loan_funded_amount_millions=Bad_loan_funded_amount/1000000
Bad_loan_received=Bad_loan['total_payment'].sum()
Bad_loan_received_millions=Bad_loan_received/1000000
Bad_loan_percentage=(Bad_loan_applications/Total_loan_Application)*100

print("Bad loan applications is " ,Bad_loan_applications)
print("Bad loan funded amount is (millions) ${:.2f}M ".format(Bad_loan_funded_amount_millions))
print("Bad loan received is (millions) ${:.2f}M ".format(Bad_loan_received_millions))
print("Bad loan percentage is {:.2f}% ".format(Bad_loan_percentage))

Bad loan applications is  5333
Bad loan funded amount is (millions) $65.53M
Bad loan received is (millions) $37.28M
Bad loan percentage is 13.82%